<h2>Add a New Drink</h2>
<form action="/drinks" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="drinkName">Drink Name:</label>
    <input type="text" id="title" name="drinkName" class="form-control" />
  </div>
  <div class="form-group">
    <label for="toppings">Toppings:</label>
    <input type="text" id="title" name="toppings" class="form-control" />
  </div>
  <div class="form-group">
    <label for="inside">Inside:</label>
    <input type="text" id="title" name="inside" class="form-control" />
  </div>
  <div class="form-group">
    <label for="blended">Blended:</label>
    <input type="text" id="title" name="blended" class="form-control" />
  </div>
  <div class="form-group">
    <label for="size">Size:</label>
    <input type="text" id="title" name="size" class="form-control" />
  </div>
  <div class="form-group">
    <label for="creator">Creator:</label>
    <input type="text" id="title" name="creator" class="form-control" />
  </div>
  {{! <div class="form-group">
    <label for="img">Image:</label>
    <input type="text" id="title" name="img" class="form-control" />
  </div> }}
  <h1><span class="badge bg-secondary">Add New</span></h1>
  <div>
    <label for="Select Image">Select Image</label>
    <input type="file" class="form-control" name="img" accept="image/*" />
  </div>
  <input type="submit" class="btn btn-primary" />
  <a href="/drinks" class="btn btn-secondary">Back</a>
</form>